* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

:root {
  --bg_color: #d4c9f1;
  /* background-color: none; */
  /* --bg_color: #ae94ee; */
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  /* height: min-content; */
  width: 100vw;
  /* width: 100vmax; */
  /* overflow-x: hidden; */
  /* background-color: aqua; */
  /* height: auto; */
  /* overflow-y: hidden;/ */
  /* width: auto; */
  box-sizing: border-box;
}

/* .wrapper {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
} */

.main_container {
  /* width: 100vw; */
  /* max-width: min-content; */

  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;

  /* height: 100%; */
  /* height: 100%;
   */
}

.main_left {
  background-color: var(--bg_color);
  /* background-color: antiquewhite; */
  height: 100vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  /* width: 20%; */
  border-right: 2px solid grey;
  position: sticky;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  /* overflow-y: hidden; */
}

.image_container {
  height: 30%;
  width: 100%;
  /* background-color: aqua; */
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_img {
  height: 50%;
  width: 100%;
  object-fit: contain;
  /* object-fit: fill; */
  object-position: center;
}

.page_list {
  height: 70%;
  width: 100%;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.page_list ul {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.list_element {
  height: 100%;
  width: 70%;
  /* background-color: beige; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  gap: 1.5rem;
}

.sm_list_img {
  /* height: 10%; */
  height: 50%;
  width: 20%;
  margin: 0.5rem 0px;
}

.sml_button {
  border: none;
  /* border: 2px solid black; */
  background-color: var(--bg_color);
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem !important;

  font-size: large;
  font-weight: 500;
}

.alist_element {
  height: 100%;
  width: 70%;
  /* background-color: beige; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  gap: 1.5rem;
  background-color: #c98dfd5f;
  border-radius: 1rem;
}

.asm_list_img {
  /* height: 10%; */
  height: 50%;
  width: 20%;
  margin: 0.5rem 0px;
}

.asml_button {
  border: none;
  /* border: 2px solid black; */
  /* background-color: goldenrod; */
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem !important;
  background-color: transparent;

  font-size: large;
  font-weight: 500;
}

.bottom_footer_img {
  height: 30%;
  width: 100%;
  /* background-color: aquamarine; */
  object-fit: contain;
  object-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_img {
  height: 100%;
  /* width: 95%; */
}

/* right part  */

.main_right {
  /* height: 100vh; */
  background-color: #cdbff0f0;
  width: 80vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* background-color: #98eff9; */
  /* background-color: var(--bg_color); */
  /* padding-left: 1rem; */

  /* height: 100%; */
  /* background-color: bisque; */
}

.profile_bar {
  /* box-sizing: border-box; */
  width: 95%;
  /* background-color: bisque; */
  /* background-color: aqua; */
  display: flex;
  height: 10vh;

  justify-content: space-between;
  align-items: center;
  justify-self: flex-start;
  border: 1px solid black;
  border-radius: 0.5rem;

  margin: 1rem 0px;
  /* padding-left: 1.5rem; */
  /* margin-top: 0.3rem; */
  /* margin-left: 0rem; */
}

.profile_bar_h1 {
  height: 100%;
  width: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: black; */
  padding: 0px;
  margin: 0px;
  padding: 1rem;
}

.profile_page_container {
  height: 100%;
  width: 10%;
  /* background-color: antiquewhite; */
  /* object-fit: cover; */
  /* object-position: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_page_container button {
  height: 80%;
  width: 70%;
  border-radius: 25% 25% 25% 25%;

  /* background-color: antiquewhite; */
  /* object-fit: cover; */
  /* object-position: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  object-position: center;
  background-color: transparent;
  border: 1px solid grey;
}

.profile_photo {
  height: 100% !important;
  width: 70%;
}

.tp_graph {
  /* background-color: cadetblue; */
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  /* height: min-content; */
}

.non_graph_section {
  width: 100%;
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #ae94ee; */
  /* background-color: #ae94ee; */
  /* gap: 0.1rem; */
}

.transaction_container {
  width: 100%;
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding: 1rem; */
  padding: 0rem 0.2rem;
}

.transaction_heading {
  /* font-size: 1.5rem; */
  /* font-size: 1.5rem; */
  width: 100%;
  font-size: 1.7rem;
  font-weight: 500;
  /* background-color: #ae94ee; */
}

.filters {
  /* background-color: aqua; */
  height: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0px;
  /* margin: 0.5rem 0rem; */
  /* padding: 0px 1rem; */
}

.select_btn {
  border: none;
  /* width: 4rem; */
  height: 100%;
  font-weight: 600;

  background-color: transparent;
  /* background-color: antiquewhite; */
}

.transaction_list {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  align-items: center;
  height: max-content !important;  */
  height: 50vh;
  /* background-color: aqua; */
  width: 100%;
  gap: 0.5rem;
  /* padding: 0rem 0.2rem; */
  padding: 0px 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
  /* flex-basis: content; */
}

.transaction_list li {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  /* background-color: burlywood; */
  background-color: #eae7f3d1;
  /* margin: 10px 0px; */
  height: 18%;
  padding: 0px 0.5rem;
  border-radius: 1rem;
  /* box-shadow: 0px 0px 5px red; */
  box-shadow: 1px 3px 1px gray;
  /* box-shadow:- 10px 80px 0px, black; */
  /* padding-right: 1rem; */
}

.pup_img {
  height: 50%;
  margin-right: 0.5rem;
}

.tl_heading {
  font-weight: 700;
  /* margin-left: 0.5rem; */
  /* font-size: /rem; */
  font-size: 1rem;
}

.tl_price {
  margin-left: auto;
  margin-right: 0.3rem;
  font-size: 1rem;
}

.transaction_buttons {
  width: 100%;
  height: 3rem;
  /* background-color: chocolate; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0px;
  padding: 0px 1rem;
}

.tbtn_1 {
  width: 50%;
  height: 60%;
  background-color: transparent;
  border-radius: 0.2rem;
  font-size: 100%;
  font-weight: 600;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c590f3c2;
}

.tbtn_2 {
  width: 30%;
  height: 60%;
  background-color: transparent;
  border-radius: 0.2rem;
  font-size: 100%;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e5be6d9;
  color: white;
}
.itbtn_2 {
  width: 20%;
  height: 80%;
  background-color: transparent;
  border-radius: 0.2rem;
  /* font-size: 40%; */
  font-weight: 600;
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e52ad;
}

.priorities_container {
  /* background-color: aliceblue; */
  width: 100%;
  gap: 0.5rem;
  padding: 0rem 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

  /* background-color: bisque; */
  /* height: 900px; */
  /* padding: 1rem 0.5rem; */
}

.priorities_heading {
  font-size: 1.7rem;
  width: 100%;
  font-weight: 500;
}

.priorities_list {
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  padding: 0px 1rem;
  gap: 0.5rem;
}

.priorities_list li {
  width: 100%;
  height: 2.7rem;
  display: flex;
  /* height: 3rem; */
  justify-content: flex-start;
  align-items: center;
  /* background-color: burlywood; */
  background-color: #eae7f3d1;
  padding: 0px 0.5rem;
  border-radius: 1rem;
  box-shadow: 1px 3px 1px gray;
  gap: 0.7rem;
}

.pl_mark {
  /* padding: 0px 0.5rem; */
  font-size: 1.2rem;
}

.pl_title {
  /* height: 100%; */
  font-weight: 700;
  /* margin-left: 0.5rem; */
  font-size: 1.2rem;
  text-transform: capitalize;
}

.pl_right {
  width: 60%;
  height: 100%;
  /* background-color: aquamarine; */
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.3rem;
  gap: 0.3rem;
}

.pl_price {
  /* background-color: antiquewhite; */
  /* height: 100%; */
  font-weight: 700;
  font-size: 1.2rem;
  /* margin-right: 0.5rem; */
  /* font-size: 1.1rem; */
  text-transform: capitalize;
}

.pl_btn {
  /* border: 1px solid black; */
  background-color: transparent;
  /* margin: 0rem 0.1rem; */
  border: none;
  height: 100%;
  padding: 0px !important;
  font-size: 1.2rem;
}

.graph_section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */
}

.bar_chart_container {
  background-color: #f2faf78d;

  /* background-color: aqua; */
  box-sizing: border-box;
  /* background-color: bisque; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.date_month {
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  /* background-color: antiquewhite; */
}

.bfilters {
  /* background-color: aqua; */
  /* height: 1rem; */
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 1rem;
}
.bfilters span {
  width: 50%;
  font-size: 1.1rem;
}
.bfilters select {
  /* width: 50%; */
  font-size: 1rem;
  background-color: #c590f3c2;
}

.filters span {
  font-size: 0.3rem;
  font-weight: 500;
  width: 100%;
}

.bar_graph {
  /* height: 30vh; */

  width: 100%;
  position: relative;
  height: 50vh;
  /* margin-bottom: 100rem; */
  /* object-fit: contain;
  object-position: center; */

  /* margin: 0.5rem 0px; */
  /* padding: 1rem 0px; */
  /* background-color: burlywood; */
}

.balance_limit {
  width: 100%;
  padding: 1rem;
  /* background-color: orangered; */
}

.balance_limit h1 {
  font-size: 1.8rem;
  color: rgb(0, 102, 255);
}
.balance_limit h1:nth-of-type(2) {
  margin-bottom: 1rem;
}

.bl_ie1 {
  /* background-color: antiquewhite; */
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bl_ie2 {
  /* background-color: antiquewhite; */
  width: 30%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.bl_ie1 span {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0.2rem;
  color: rgba(0, 165, 0, 0.858);
}
.bl_ie2 span {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0.2rem;
  color: red;
}

.Spending_Limit {
  height: min-content;
  width: 100%;
  background-color: #f5f6fa;
  border-radius: 1rem;
  padding: 0.7rem;
  /* background-color: aquamarine; */
}

.sl_title {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.spending_limit_button {
  height: 30%;
  width: 15%;
  background-color: transparent;
  border-radius: 0.5rem;
  font-size: 100%;
  font-weight: 600;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c590f3c2;
}
.sl_title h2 {
  font-size: 2rem;
  color: #5d00ff;
}

.progress_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: antiquewhite; */
}

.Spending_Limit h5:nth-of-type(1) {
  margin-top: 1rem;
  font-size: 1rem;
}
.bl {
  font-size: 2rem !important;
  margin: 0.5rem 0.2rem;
}

.Spending_Limit h3 {
  font-size: 1.3rem;
  vertical-align: baseline;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  /* background-color: #5d00ff; */
}

.Spending_Limit h4 {
  margin: 0px;
  color: red;
}

.insight_right {
  background-color: #cdbff0f0;
  width: 80vw;

  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
}

.insight_right_l {
  /* height: min-content; */
  width: 50%;
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.insight_right_r {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  padding: 0px 1rem;
}

.pichart_container {
  margin: 1rem 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: antiquewhite; */
  background-color: whitesmoke;
  width: 100%;
  border-radius: 1rem;
}

.pc_stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: aqua; */
}

.pc_stats h1 {
  font-size: 2rem;
}

.pc_stats_div {
  /* background-color: yellowgreen; */
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.pc_stats_div span {
  font-size: 1.3rem;
  margin: 0.3rem 0px;
}

.itransaction_container {
  width: 100%;
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding: 1rem; */
  padding: 0.5rem 0.5rem;
  background-color: whitesmoke;
  border-radius: 1rem;
}

.th_day {
  width: 100%;
  font-size: 1rem;
}
.th_day h3 {
  /* width: 100%; */
  font-size: 1rem;
  margin: 0.5rem 0px;
}
.transaction_hdiv {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  /* background-color: aqua; */
  /* height: min-content; */
  width: 100%;
}
.itransaction_list {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 7vh 7vh 7vh;
  /* grid-rows: 10vh; */
  /* grid-row: 1vh; */
  /* grid-template-rows: max-content; */
  /* grid-template-rows: max-content; */

  /* grid-row: auto; */
  justify-content: flex-start;
  align-items: center;
  /* background-color: aquamarine; */
  /* margin: 10px 0px; */
  /* height: min-content; */
  width: 100%;
  /* gap: 0.1rem; */
  /* padding-right: 1rem; */
}

.itransaction_list li {
  width: 90%;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  /* background-color: burlywood; */
  background-color: #eae7f3d1;
  /* margin: 10px 0px; */
  height: 50%;
  padding: 0px 0.5rem;
  border-radius: 1rem;
  /* box-shadow: 0px 0px 5px red; */
  box-shadow: 1px 3px 1px gray;
  /* box-shadow:- 10px 80px 0px, black; */
  /* padding-right: 1rem; */
}

.mp_right {
  /* background-color: #98eff9; */
  background-color: var(--bg_color);
  padding: 0px 1rem;
  display: grid;
  grid-template-rows: min-content min-content 1fr 7fr;
  height: min-content;
  height: 100%;
  width: 100%;
}

.mp_heading {
  width: 100%;
  /* background-color: aqua; */
  font-size: 2rem;

  font-weight: 600;
  margin: 1rem 0.5rem;
  height: 3rem;
}

.sbf {
  width: 100%;
  /* background-color: bisque; */
  /* background-color: #c590f3c2; */

  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0.5rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.sb_div {
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 100%;

  border-radius: 1rem;
  border: 1px solid grey;
}

.sb_container {
  /* background-color: aqua; */
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  /* background-color: aliceblue; */
  border-right: 1px solid grey;
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_div {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding: 0px !important; */
  /* margin-left: 0.5rem; */
  height: 100%;
  /* background-color: aquamarine; */
}
.input_div input {
  /* width: 100%; */
  /* margin-left: 0.5rem; */
  height: 100%;
  /* background-color: aquamarine; */
  /* background-color: #5d00ff; */
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0px 1rem;
  font-size: 1rem;
  width: 100% !important;
  /* border: none; */
}

.mp_fbtn {
  /* background-color: aquamarine;
   */
  background-color: #8e5be6d9;
  height: 100%;
  width: 10%;
  margin: 0px 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.mp_fbtn select {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  /* width: 100%; */

  /* letter-spacing: 0.1rem; */
}

.categories_div {
  /* background-color: aqua; */
  width: 100%;
  /* background-color: aqua; */
  font-size: 2rem;

  font-weight: 600;
  margin: 1rem 0.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 1rem;
}

.categories_div span {
  /* background-color: aqua; */
  width: 15%;
  /* background-color: aqua; */
  font-size: 1.7rem;

  font-weight: 600;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  border-right: 1px solid grey;
  padding: 0.5rem;
}

.categories_div ul {
  /* background-color: aqua; */
  /* background-color: aquamarine; */
  width: 100%;
  /* background-color: aqua; */
  font-size: 2rem;

  font-weight: 600;
  margin: 1rem 0.5rem;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.categories_div li {
  /* background-color: antiquewhite; */
  width: 100%;
  /* background-color: aqua; */

  font-weight: 600;
  /* margin: 1rem 0.5rem; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories_div li button {
  /* background-color: aquamarine; */
  height: 80%;
  font-size: 1.1rem;
  border-radius: 0.6rem;
  padding: 0rem 0.8rem;
  border: 1px solid grey;
  background-color: #c590f3c2;
}

.product_container {
  height: min-content;
  width: 100%;
  /* background-color: antiquewhite; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* align-items: flex-start; */
  /* grid-template-rows: repeat(3, 10vh); */
  gap: 1.5rem;
  padding: 0rem 1.5rem;
}

.p_card {
  background-color: white;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-direction: column;
  border-radius: 1rem;
  /* gap: 1rem; */
  row-gap: 1rem;
  /* padding-top: 1rem; */
  /* padding-bottom: 1rem; */
  /* height: 50vh; */
  /* box-shadow: 10px 10px 30px, red; */
}

.p_img {
  /* margin: 0.5rem; */
  width: 100%;
  height: 40%;
  /* object-fit: cover;
  object-position: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #5d00ff; */
}

.p_img img {
  height: 100%;
}

.p_heading {
  font-size: 1.5rem;
  width: 70%;
}

.p_card h4 {
  font-size: 0.9rem;
  width: 70%;
  /* margin: 0.5rem 0rem; */
}

.p_sites {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  /* background-color: aqua; */
  height: 2rem;
}

.p_sites div {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.p_sites div img {
  height: 100%;
}

.p_card button {
  width: 70%;
  font-size: 1.2rem;
  /* margin: 1rem 0px; */
  background-color: #8e5be6bd;
  border-radius: 0.5rem;
}

.recharts-legend-item-text {
  font-size: 0.1rem;
}

.idate_month {
  /* background-color: #5d00ff; */
  font-size: 2.5rem;
  font-weight: 500;
  width: 100%;
  padding-left: 2rem;
  padding-top: 1rem;
  margin-top: 1.7rem;
  color: #5d00ff;
  /* margin: 3rem 0px 0px 1rem; */
  /* background-color: antiquewhite; */
}

.insight_right_l h1:nth-of-type(1) {
  font-size: 1.7rem;
  font-weight: 500;
  width: 100%;
  padding-left: 2rem;
  padding-top: 1rem;
  /* background-color: #5d00ff; */
}
.insight_right_l h1:nth-of-type(2) {
  font-size: 1.7rem;
  font-weight: 500;
  width: 100%;
  padding-left: 2rem;
  /* padding-top: 1rem; */
  /* background-color: #5d00ff; */
}

.ibl_ie1 {
  /* background-color: #5d00ff; */
  width: 30%;
  /* justify-self: flex-start; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;

  padding-top: 0.5rem;
  color: rgba(0, 165, 0, 0.858);
}
.ibl_ie2 {
  /* background-color: #5d00ff; */
  width: 30%;
  /* justify-self: flex-start; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;

  /* padding-top: 0.5rem; */
  color: red;
}

.ibfilters {
  /* background-color: aqua; */
  /* height: 1rem; */
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 1rem;
}

.ibfilters span {
  width: 50%;
  font-size: 1.1rem;
}
.ibfilters select {
  /* width: 50%; */
  font-size: 1rem;
  background-color: #c590f3c2;
}

.ibar_graph {
  padding: 1rem;
  /* background-color: #8e5be6d9; */
  width: 100%;
  height: 55vh;
  background-color: aliceblue;
  border-radius: 1rem;
  margin: 1rem 0px;
  /* opacity: 59%; */
  /* background-blend-mode: color; */
}

.iSpending_Limit {
  height: min-content;
  width: 90%;
  background-color: #f5f6fa;
  border-radius: 1rem;
  padding: 0.7rem;
  margin: 0px auto;
  margin-bottom: 1rem;
  /* margin: 0px 1rem; */
  /* background-color: aquamarine; */
}

.isl_title {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.ispending_limit_button {
  height: 30%;
  width: 15%;
  background-color: transparent;
  border-radius: 0.5rem;
  font-size: 100%;
  font-weight: 600;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c590f3c2;
}
.isl_title h2 {
  font-size: 2rem;
  color: #5d00ff;
}

.iprogress_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: antiquewhite; */
}

.iSpending_Limit h5:nth-of-type(1) {
  margin-top: 1rem;
  font-size: 1rem;
}
.ibl {
  font-size: 2rem !important;
  margin: 0.5rem 0.2rem;
}

.iSpending_Limit h3 {
  font-size: 1.3rem;
  vertical-align: baseline;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  /* background-color: #5d00ff; */
}

.iSpending_Limit h4 {
  margin: 0px;
  color: red;
}
