
.main_ {
  font-size: 6vw;
  background-color: #d7c7ff;
  font-weight: 600;
  padding-left: 2%;
}

#nav {
  display: grid;
  grid-template-columns: 3fr 2fr 5fr;
}

#logo {
  grid-column-start: 1;
  grid-column-end: 2;
  overflow: hidden;
  width: 67%;
}

#menu {
  display: inline-block;
  grid-column-start: 3;
  grid-column-end: 4;
  margin-top: 5%;
  margin-right: 13%;
}
#menu > li {
  float: right;
  margin-left: 2%;
  font-size: 35%;
}

#menu>li>button{
  width: 100%;
  border: none;
  font-size: 100%;
  color: #271ed1;
  background: none;
}

#Herosec {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 70%;
  justify-content: space-evenly;
}

#heroimg {
  grid-column: 1/2;
  width: 90%;
}

#heroimg > img {
  width: 100%;
}

#herotxt {
  grid-column: 2/3;
  font-size: 50%;
  margin-left: 0;
  text-align: left;
  padding-top: 12%;
  padding-left: 6%;
}

#WHTBB {
  display: grid;
  grid-template-columns: 65% 35%;
  margin-right: 5%;
}

#wtxt {
  grid-column: 1/2;
}

#wtxt > h2 {
  font-size: 75%;
}
#wtxt > p {
  font-size: 50%;
}

#whtimg {
  grid-column: 2/3;
}
#whtimg > img {
  width: 100%;
  justify-self: center;
  margin-top: 20%;
}





#fethead{
  margin: auto;
  font-size: 75%;
  text-align: center;
}

#features{
  font-size: 50%;
  font-weight: 600;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  column-gap: 3%;
  justify-content: space-evenly;
  width: 100%;
  margin-right: 5%;
}

#features>.f{
  display: grid;
  align-items: baseline;
  grid-column: 1fr;
  grid-row: 1fr 2fr;
  width: 100%;
}

#features>.f>.fimg{
  width: 100%;
  height: 100%;
  grid-row: 1/2; 
}

#features>.f>.ftxt{
  width: 100%;
  grid-row: 2/3;
  align-self: start;
  justify-self: center;
  text-align: start;
}


#features>.f>.fimg>img{
  width: 100%;
  height: 100%;
}

#features>.f>.ftxt>p{
  width: 100%;
  height: 100%;
  font-weight: 700;

}







#mission {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 100%;
  margin-top: 2%;
}

hr{
  margin-top: 2%;
}

#Mtxt {
  grid-column: 1/2;
}

#Mtxt > h2 {
  font-size: 75%;
}

#Mtxt > p {
  font-size: 50%;
}
#Mimg {
  width: 100%;
  grid-column: 2/3;
}
#Mimg > img {
  width: 100%;
}

#fword {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  justify-content: center;
}

#fimgf {
  grid-column: 1/2;
  width: 100%;
}
#fimgf > img {
  width: 100%;
}

#ftxtf {
  grid-column: 2/3;
  width: 100%;
  padding-top: 14%;
}

#ftxtf > h1 {
  font-size: 90%;
}

#ftxtf>#su {
  width: 45%;
  height: 10%;
  margin-left: 0;
  background-color: #3900c6;
  border-radius: 20px;
  font-size: 40%;
  color: #ffffff;
}

#ftxtf>#li {
  width: 45%;
  height: 10%;
  margin-left: 2%;
  background-color: #3900c6;
  border-radius: 20px;
  font-size: 40%;
  color: #ffffff;
}